@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html,
body {
  background-color: #ffffff;
  color: #1f2937;
  margin: 0;
  padding: 0;
  font-family: system-ui, sans-serif;
}

::-webkit-scrollbar {
  width: 32px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background-color: #a5cbf9;
  border: 3px solid #ffffff;
}

* {
  border-radius: none;
  scrollbar-color: #a5cbf9 #ffffff;
}